.accord {

	$dur: .3s;

	.insta-trans {
		transition: none !important;
	}
	
	.accord-item {
		overflow: hidden;
	}

	.accord-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
		cursor: pointer;
	}

	.accord-chevron {
		transition: transform $dur linear;
	}

	.accord-panel {

		&.revealed {
			height: auto;
			overflow: hidden;
			opacity: 1;
			transition-property: height, opacity, margin;
			transition-duration: $dur;
			transition-timing-function: linear;
			transition-delay: 0s, $dur*.5, 0s;
		}

		&.concealed {
			height: 0 !important;
			margin: 0;
			overflow: hidden;
			opacity: 0;
			transition-property: height, opacity, margin;
			transition-duration: $dur;
			transition-timing-function: linear;
			transition-delay: 0s;
		}

	}
		
	.accord-item:has( > .accord-panel.revealed) > .accord-heading > .accord-chevron {
		transform: scaleY(-1);
	}
}